body {
    background-image: url('../images/restaurant.png')
}

.crystals {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.crystal {
	border: 1px solid green;
	height: 200px;
	width: 200px;
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	transition: box-shadow 1s;
}

.crystal:hover {
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: box-shadow 1s;
}

img {
	width: 50px;

}

#header {
    background-color: #ff7b00;
    width: 25%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
}

h1, li, ul, h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    color: white;
}

ul, li, h2 {
    color: white;
}

#instructions {
    background-color: rgb(247, 230, 184);
    width: 50%;
    padding: 20px;
    border-style: outset;
}

.random {
    background-color: rgb(18, 206, 18);
    float: left;
    width: 50%;
    padding: 25px;
}

#winsAndLosses {
    background-color: skyblue;
    width: 50%;
    padding: 15px;
    border: 1px dotted black;
}

#score-h2 {
    color:white;
}

div {
    clear: left;
}

/* .score, userTotal {
    float: left;
    background-color: teal;
    padding: 20px;
    padding-bottom: 50px;
} */

#numberGuess {
    background-color: teal;
    width: 50%;
    margin-top: 10px;
    padding: 25px;
    border-style: outset;
}

#totalScore {
    background-color: green;
    border-style: outset;
    width: 50%;
}
